<template>
  <el-dialog
    title="Tips"
    :close-on-click-modal="false"
    :visible.sync="visible"
    append-to-body>
    <div style="text-align: center;color: red;">
      This is a warning that you past the due date of returning the borrowed book！
    </div>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">Cancel</el-button>
      <router-link to="/book-myBorrow">
        <el-button type="primary" >To Reserve</el-button>
       </router-link>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false
      }
    },
    methods: {
      init () {
        this.visible = true
      },
      toReserve () {

      }
    }
  }
</script>

<style lang="scss">
  .mod-menu {
    .menu-list__input,
    .icon-list__input {
      > .el-input__inner {
        cursor: pointer;
      }
    }
    &__icon-popover {
      width: 458px;
      overflow: hidden;
    }
    &__icon-inner {
      width: 478px;
      max-height: 258px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &__icon-list {
      width: 458px;
      padding: 0;
      margin: -8px 0 0 -8px;
      > .el-button {
        padding: 8px;
        margin: 8px 0 0 8px;
        > span {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
    }
    .icon-list__tips {
      font-size: 18px;
      text-align: center;
      color: #e6a23c;
      cursor: pointer;
    }
  }
</style>
