<template>
  <div class="mod-demo-echarts">
<!--    <el-row :gutter="20">
      <el-col :span="24">
        <el-card>
          <div id="J_chartBarBox" class="chart-box"></div>
        </el-card>
      </el-col>
    </el-row>-->
    <due-to-prompt v-if="dueToPromptVisible" ref="dueToPrompt"></due-to-prompt>
  </div>
</template>

<script>
  import echarts from 'echarts'
  import DueToPrompt from './due-to-prompt '
  export default {
    data () {
      return {
        chartLine: null,
        chartBar: null,
        chartPie: null,
        chartScatter: null,
        dueToPromptVisible: false
      }
    },
    components: {
      DueToPrompt
    },
    mounted () {
      // this.getBorrowTop()
      this.getBeyond()
    },
    activated () {
      if (this.chartLine) {
        this.chartLine.resize()
      }
      if (this.chartBar) {
        this.chartBar.resize()
      }
    },
    methods: {
      getBorrowTop () {
        this.$http({
          url: this.$http.adornUrl('/book/book/getBorrowTop'),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          let name = []
          let value = []
          for (let i = 0; i < data.data.length; i++) {
            name.push(data.data[i].borrower)
            value.push(data.data[i].count)
          }
          this.initChartBar(name, value)
        })
      },
      getBeyond () {
        this.$http({
          url: this.$http.adornUrl('/book/borrow/beyond'),
          method: 'get',
          params: this.$http.adornParams()
        }).then(({data}) => {
          if (data.count > 0) {
            this.dueToPromptVisible = true
            this.$nextTick(() => {
              this.$refs.dueToPrompt.init()
            })
          }
        })
      },
      // 柱状图
      initChartBar (name, value) {
        var option = {
          'title': {
            'text': 'Borrowing ranking TOP10'
          },
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: [
            {
              type: 'category',
              data: name
            }
          ],
          yAxis: [
            {
              type: 'value'
            }
          ],
          series: [
            {
              name: 'quantity',
              type: 'bar',
              data: value
            }
          ]
        }
        this.chartBar = echarts.init(document.getElementById('J_chartBarBox'))
        this.chartBar.setOption(option)
        window.addEventListener('resize', () => {
          this.chartBar.resize()
        })
      }
    }
  }
</script>

<style lang="scss">
  .mod-demo-echarts {
    > .el-alert {
      margin-bottom: 10px;
    }
    > .el-row {
      margin-top: -10px;
      margin-bottom: -10px;
      .el-col {
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
    .chart-box {
      min-height: 400px;
    }
  }
</style>
