<template>
  <el-dialog
    :title="!dataForm.id ? 'Add' : 'Modify'"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
      <el-form-item label="Title" prop="title">
        <el-input v-model="dataForm.title" placeholder="Title"></el-input>
      </el-form-item>
      <el-form-item label="Book type" prop="typeName">
        <el-popover
          ref="typeListPopover"
          placement="bottom-start"
          trigger="click">
          <el-tree
            :data="typeList"
            :props="typeListTreeProps"
            node-key="id"
            ref="typeListTree"
            @current-change="typeListTreeCurrentChangeHandle"
            :default-expand-all="false"
            :highlight-current="true"
            :expand-on-click-node="false">
          </el-tree>
        </el-popover>
        <el-input v-model="dataForm.typeName" v-popover:typeListPopover :readonly="true" placeholder="Click to select a category" class="menu-list__input"></el-input>
      </el-form-item>
      <el-form-item label="Author/Editor" prop="author">
        <el-input v-model="dataForm.author" placeholder="Author/Editor"></el-input>
      </el-form-item>
      <el-form-item label="Contributor" prop="contributor">
        <el-input v-model="dataForm.contributor" placeholder="Contributor"></el-input>
      </el-form-item>
      <el-form-item label="Published/Issued by" prop="publishedBy">
        <el-input v-model="dataForm.publishedBy" placeholder="Published/Issued by"></el-input>
      </el-form-item>
      <el-form-item label="Edition" prop="edition">
        <el-input v-model="dataForm.edition" placeholder="Edition"></el-input>
      </el-form-item>
      <el-form-item label="Time" prop="time">
        <el-input v-model="dataForm.time" placeholder="Time"></el-input>
      </el-form-item>
      <el-form-item label="Key Words" prop="keyWords">
        <el-input v-model="dataForm.keyWords" placeholder="Key Words"></el-input>
      </el-form-item>
      <el-form-item label="Classification" prop="classification">
        <el-input v-model="dataForm.classification" placeholder="Classification"></el-input>
      </el-form-item>
      <el-form-item label="Citation" prop="citation">
        <el-input v-model="dataForm.citation" placeholder="Citation"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">Cancel</el-button>
      <el-button type="primary" @click="dataFormSubmit()">Submit</el-button>
    </span>
  </el-dialog>
</template>

<script>
  import { treeDataTranslate } from '@/utils'
  export default {
    data () {
      return {
        visible: false,
        dataForm: {
          id: 0,
          title: '',
          author: '',
          publishedBy: '',
          typeId: null,
          typeName: '',
          edition: '',
          time: '',
          keyWords: '',
          classification: '',
          citation: '',
          contributor: ''
        },
        dataRule: {
          title: [
            { required: true, message: 'Title cannot be empty', trigger: 'blur' }
          ]
        },
        typeList: [],
        typeListTreeProps: {
          label: 'name',
          children: 'children'
        }
      }
    },
    methods: {
      init (id) {
        this.dataForm.id = id || 0
        this.$http({
          url: this.$http.adornUrl('/book/type/list'),
          method: 'get',
          params: this.$http.adornParams({
            'name': ''
          })
        }).then(({data}) => {
          this.typeList = treeDataTranslate(data, 'id')
        }).then(() => {
          this.visible = true
          this.$nextTick(() => {
            this.$refs['dataForm'].resetFields()
          })
        }).then(() => {
          if (this.dataForm.id) {
            this.$http({
              url: this.$http.adornUrl(`/book/book/info/${this.dataForm.id}`),
              method: 'get',
              params: this.$http.adornParams()
            }).then(({data}) => {
              console.log(data)
              this.dataForm.id = data.book.id
              this.dataForm.title = data.book.title
              this.dataForm.typeId = data.book.typeId
              this.dataForm.author = data.book.author
              this.dataForm.publishedBy = data.book.publishedBy
              this.dataForm.edition = data.book.edition
              this.dataForm.time = data.book.time
              this.dataForm.keyWords = data.book.keyWords
              this.dataForm.classification = data.book.classification
              this.dataForm.citation = data.book.citation
              this.dataForm.contributor = data.book.contributor

              this.typeListTreeSetCurrentNode()
            })
          }
        })
      },
      typeListTreeCurrentChangeHandle (data, node) {
        this.dataForm.typeId = data.id
        this.dataForm.typeName = data.name
      },
      typeListTreeSetCurrentNode () {
        this.$refs.typeListTree.setCurrentKey(this.dataForm.typeId)
        this.dataForm.typeName = (this.$refs.typeListTree.getCurrentNode() || {})['name']
      },
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/book/book/${!this.dataForm.id ? 'save' : 'update'}`),
              method: 'post',
              data: this.$http.adornData({
                'id': this.dataForm.id || undefined,
                'title': this.dataForm.title,
                'typeId': this.dataForm.typeId,
                'author': this.dataForm.author,
                'publishedBy': this.dataForm.publishedBy,
                'edition': this.dataForm.edition,
                'time': this.dataForm.time,
                'keyWords': this.dataForm.keyWords,
                'classification': this.dataForm.classification,
                'citation': this.dataForm.citation,
                'contributor': this.dataForm.contributor
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: 'Submitted successfully',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .mod-menu {
    .menu-list__input,
    .icon-list__input {
      > .el-input__inner {
        cursor: pointer;
      }
    }
    &__icon-popover {
      width: 458px;
      overflow: hidden;
    }
    &__icon-inner {
      width: 478px;
      max-height: 258px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &__icon-list {
      width: 458px;
      padding: 0;
      margin: -8px 0 0 -8px;
      > .el-button {
        padding: 8px;
        margin: 8px 0 0 8px;
        > span {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
    }
    .icon-list__tips {
      font-size: 18px;
      text-align: center;
      color: #e6a23c;
      cursor: pointer;
    }
  }
</style>
