<template>
  <el-dialog
    title="Copy"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-form :inline="true" @keyup.enter.native="getDataList()">
      <el-form-item>
        <el-button v-if="isAuth('book:book:save')" type="primary" @click="addHandle()">Add</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="stock"
        header-align="center"
        align="center"
        label="Stock">
      </el-table-column>
      <el-table-column
        prop="place"
        header-align="center"
        align="center"
        label="Place">
      </el-table-column>
      <el-table-column
        prop="condition"
        header-align="center"
        align="center"
        width="120"
        label="Condition">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.condition === 0" size="small" type="info">Out on loan</el-tag>
        <el-tag v-if="scope.row.condition === 1" size="small" type="success">Available</el-tag>
      </template>
      </el-table-column>
      <el-table-column
        prop="borrower"
        header-align="center"
        align="center"
        width="100"
        label="Borrower">
      </el-table-column>
      <el-table-column
        prop="borrowedPeriod"
        header-align="center"
        align="center"
        width="150"
        label="Borrowed period">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        width="180"
        label="Borrowed time">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="Operation">
        <template slot-scope="scope">
          <el-button v-if="isAuth('book:book:update')" type="text" size="small" @click="updateHandle(scope.row)">Modify</el-button>
          <el-button v-if="isAuth('book:book:delete')" type="text" size="small" @click="deleteHandle(scope.row.id)">Delete</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">Cancel</el-button>
    </span>
    <stock-add v-if="stockAddVisible" ref="stockAdd" @refreshDataList="getDataList"></stock-add>
    <stock-update v-if="stockUpdateVisible" ref="stockUpdate" @refreshDataList="getDataList"></stock-update>
  </el-dialog>
</template>

<script>
  import StockAdd from './book-stock-add'
  import StockUpdate from './book-stock-update'
  export default {
    data () {
      return {
        visible: false,
        bookId: null,
        stockAddVisible: false,
        stockUpdateVisible: false,
        dataListLoading: false,
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListSelections: []
      }
    },
    components: {
      StockAdd, StockUpdate
    },
    methods: {
      init (id) {
        this.bookId = id
        this.visible = true
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/book/book/stockList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'bookId': this.bookId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      addHandle () {
        this.stockAddVisible = true
        this.$nextTick(() => {
          this.$refs.stockAdd.init(this.bookId)
        })
      },
      updateHandle (row) {
        this.stockUpdateVisible = true
        this.$nextTick(() => {
          this.$refs.stockUpdate.init(row)
        })
      },
      deleteHandle (id) {
        var ids = id ? [id] : this.dataListSelections.map(item => {
          return item.id
        })
        this.$confirm(`Are you sure to [id=${ids.join(',')}] on [${id ? 'Delete' : 'Batch delete'}] operation?`, 'Tips', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/book/book/stockDelete'),
            method: 'post',
            data: this.$http.adornData(ids, false)
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: 'Submitted successfully',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {})
      }
    }
  }
</script>

<style lang="scss">
  .mod-menu {
    .menu-list__input,
    .icon-list__input {
      > .el-input__inner {
        cursor: pointer;
      }
    }
    &__icon-popover {
      width: 458px;
      overflow: hidden;
    }
    &__icon-inner {
      width: 478px;
      max-height: 258px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &__icon-list {
      width: 458px;
      padding: 0;
      margin: -8px 0 0 -8px;
      > .el-button {
        padding: 8px;
        margin: 8px 0 0 8px;
        > span {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
    }
    .icon-list__tips {
      font-size: 18px;
      text-align: center;
      color: #e6a23c;
      cursor: pointer;
    }
  }
</style>
