<template>
  <el-dialog
    title="Add"
    :close-on-click-modal="false"
    :visible.sync="visible"
    append-to-body>
    <el-form :model="dataForm" :rules="dataRule" ref="dataForm" @keyup.enter.native="dataFormSubmit()" label-width="80px">
      <el-form-item label="Stock" prop="stock">
        <el-input v-model="dataForm.stock" placeholder="Stock"></el-input>
      </el-form-item>
      <el-form-item label="Place" prop="place">
        <el-input v-model="dataForm.place" placeholder="Place"></el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">Cancel</el-button>
      <el-button type="primary" @click="dataFormSubmit()">Submit</el-button>
    </span>
  </el-dialog>
</template>

<script>
  export default {
    data () {
      return {
        visible: false,
        bookId: null,
        dataForm: {
          stock: '',
          place: ''
        },
        dataRule: {
          stock: [
            { required: true, message: 'Stock cannot be empty', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      init (bookId) {
        this.bookId = bookId
        this.visible = true
      },
      dataFormSubmit () {
        this.$refs['dataForm'].validate((valid) => {
          if (valid) {
            this.$http({
              url: this.$http.adornUrl(`/book/book/stockSave`),
              method: 'post',
              data: this.$http.adornData({
                'bookId': this.bookId,
                'stock': this.dataForm.stock,
                'place': this.dataForm.place
              })
            }).then(({data}) => {
              if (data && data.code === 0) {
                this.$message({
                  message: 'Submitted successfully',
                  type: 'success',
                  duration: 1500,
                  onClose: () => {
                    this.visible = false
                    this.$emit('refreshDataList')
                  }
                })
              } else {
                this.$message.error(data.msg)
              }
            })
          }
        })
      }
    }
  }
</script>

<style lang="scss">
  .mod-menu {
    .menu-list__input,
    .icon-list__input {
      > .el-input__inner {
        cursor: pointer;
      }
    }
    &__icon-popover {
      width: 458px;
      overflow: hidden;
    }
    &__icon-inner {
      width: 478px;
      max-height: 258px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &__icon-list {
      width: 458px;
      padding: 0;
      margin: -8px 0 0 -8px;
      > .el-button {
        padding: 8px;
        margin: 8px 0 0 8px;
        > span {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
    }
    .icon-list__tips {
      font-size: 18px;
      text-align: center;
      color: #e6a23c;
      cursor: pointer;
    }
  }
</style>
