<template>
  <div class="mod-role">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
      <el-form-item>
        <el-autocomplete :fetch-suggestions="titleQuerySearch" v-model="dataForm.title" placeholder="Title" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item>
        <el-autocomplete :fetch-suggestions="authorQuerySearch" v-model="dataForm.author" placeholder="Author" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.keyWords" placeholder="Key Words" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.classification" placeholder="Classification" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-popover
          ref="typeListPopover"
          placement="bottom-start"
          trigger="click">
          <el-tree
            :data="typeList"
            :props="typeListTreeProps"
            node-key="id"
            ref="typeListTree"
            @current-change="typeListTreeCurrentChangeHandle"
            :default-expand-all="false"
            :highlight-current="true"
            :expand-on-click-node="false">
          </el-tree>
        </el-popover>
        <el-input v-model="dataForm.typeName" v-popover:typeListPopover maxlength = 0 placeholder="Book type" class="menu-list__input" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">Query</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="id"
        header-align="center"
        align="center"
        width="80"
        label="ID">
      </el-table-column>
      <el-table-column
        prop="typeName"
        header-align="center"
        align="center"
        width="150"
        label="Type">
      </el-table-column>
      <el-table-column
        prop="title"
        header-align="center"
        align="center"
        width="250"
        label="Title">
      </el-table-column>
      <el-table-column
        prop="author"
        header-align="center"
        align="center"
        width="120"
        label="Author/Editor">
      </el-table-column>
      <el-table-column
        prop="contributor"
        header-align="center"
        align="center"
        label="Contributor">
      </el-table-column>
      <el-table-column
        prop="publishedBy"
        header-align="center"
        align="center"
        width="180"
        label="Published/Issued by">
      </el-table-column>
      <el-table-column
        prop="edition"
        header-align="center"
        align="center"
        label="Edition">
      </el-table-column>
      <el-table-column
        prop="time"
        header-align="center"
        align="center"
        label="Time">
      </el-table-column>
      <el-table-column
        prop="keyWords"
        header-align="center"
        align="center"
        width="180"
        label="Key Words">
      </el-table-column>
      <el-table-column
        prop="classification"
        header-align="center"
        align="center"
        width="180"
        label="Classification">
      </el-table-column>
      <el-table-column
        prop="copyNumber"
        header-align="center"
        align="center"
        width="180"
        label="Copy Number">
      </el-table-column>
      <el-table-column
        prop="citation"
        header-align="center"
        align="center"
        width="180"
        label="Citation">
        <template slot-scope="scope">
          <a v-if="scope.row.citation != 'NA'" @click="toDetail(scope.row.citation)">{{scope.row.citation}}</a>
        </template>
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="200"
        label="Operation">
        <template slot-scope="scope">
          <el-button v-if="isAuth('book:book:list')" type="text" size="small" @click="copys(scope.row.id)">Copies</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <borrow-copy v-if="borrowCopyVisible" ref="borrowCopys" @refreshDataList="getDataList"></borrow-copy>
  </div>
</template>

<script>
  import BorrowCopy from './borrow-stock'
  import { treeDataTranslate } from '@/utils'
  export default {
    data () {
      return {
        dataForm: {
          name: '',
          author: '',
          keyWords: '',
          classification: '',
          typeId: null,
          typeName: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        dataListSelections: [],
        borrowCopyVisible: false,
        typeList: [],
        typeListTreeProps: {
          label: 'name',
          children: 'children'
        },
        titleDatas: [],
        authorDatas: []
      }
    },
    components: {
      BorrowCopy
    },
    activated () {
      this.getBookType()
      this.getDataList()
    },
    methods: {
      titleQuerySearch (queryString, cb) {
        cb(this.titleDatas)
      },
      authorQuerySearch (queryString, cb) {
        cb(this.authorDatas)
      },
      getDataList () {
        let titleSearch = {'value': this.dataForm.title}
        this.titleDatas.push(titleSearch)
        let authorSearch = {'value': this.dataForm.author}
        this.authorDatas.push(authorSearch)
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/book/book/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'title': this.dataForm.title,
            'author': this.dataForm.author,
            'keyWords': this.dataForm.keyWords,
            'classification': this.dataForm.classification,
            'typeId': this.dataForm.typeName ? this.dataForm.typeId : null
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      getBookType () {
        this.$http({
          url: this.$http.adornUrl('/book/type/list'),
          method: 'get',
          params: this.$http.adornParams({
            'name': ''
          })
        }).then(({data}) => {
          this.typeList = treeDataTranslate(data, 'id')
        })
      },
      typeListTreeCurrentChangeHandle (data, node) {
        this.dataForm.typeId = data.id
        this.dataForm.typeName = data.name
      },
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      copys (id) {
        this.borrowCopyVisible = true
        this.$nextTick(() => {
          this.$refs.borrowCopys.init(id)
        })
      },
      toDetail (data) {
        this.$message({
          message: 'The book cited<' + data + '> written by Jack in 1982 with the key words cs and coding and the classification of it is science-cs-algorithm.',
          type: 'success',
          duration: 2500,
          onClose: () => {
            this.getDataList()
          }
        })
      }
    }
  }
</script>
