<template>
  <el-dialog
    title="Copy"
    :close-on-click-modal="false"
    :visible.sync="visible">
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="stock"
        header-align="center"
        align="center"
        label="Stock">
      </el-table-column>
      <el-table-column
        prop="place"
        header-align="center"
        align="center"
        label="Place">
      </el-table-column>
      <el-table-column
        prop="condition"
        header-align="center"
        align="center"
        width="120"
        label="Condition">
      <template slot-scope="scope">
        <el-tag v-if="scope.row.condition == 0" size="small" type="info">Out on loan</el-tag>
        <el-tag v-if="scope.row.condition == 1" size="small" type="success">Available</el-tag>
      </template>
      </el-table-column>
      <el-table-column
        prop="borrower"
        header-align="center"
        align="center"
        width="100"
        label="Borrower">
      </el-table-column>
      <el-table-column
        prop="borrowedPeriod"
        header-align="center"
        align="center"
        width="150"
        label="Borrowed period">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        width="180"
        label="Borrowed time">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="180"
        label="Operation">
        <template slot-scope="scope">
          <!--<el-button v-if="isAuth('book:book:reserve') & scope.row.condition == 0" type="text" size="small" @click="reserveHandle(scope.row.id)">Reserve</el-button>-->
          <el-button v-if="isAuth('book:book:borrow') & scope.row.condition == 1" type="text" size="small" @click="borrowHandle(scope.row.id)">Borrow Now</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
    <span slot="footer" class="dialog-footer">
      <el-button @click="visible = false">Cancel</el-button>
    </span>
    <borrow-stock-borrow v-if="borrowStockBorrowVisible" ref="borrowStockBorrow" @refreshDataList="getDataList"></borrow-stock-borrow>
  </el-dialog>
</template>

<script>
  import BorrowStockBorrow from './borrow-stock-borrow'
  export default {
    data () {
      return {
        visible: false,
        bookId: null,
        borrowStockBorrowVisible: false,
        dataListLoading: false,
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListSelections: []
      }
    },
    components: {
      BorrowStockBorrow
    },
    methods: {
      init (id) {
        this.bookId = id
        this.visible = true
        this.getDataList()
      },
      getDataList () {
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/book/book/stockList'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'bookId': this.bookId
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      borrowHandle (id) {
        this.borrowStockBorrowVisible = true
        this.$nextTick(() => {
          this.$refs.borrowStockBorrow.init(id)
        })
      }
    }
  }
</script>

<style lang="scss">
  .mod-menu {
    .menu-list__input,
    .icon-list__input {
      > .el-input__inner {
        cursor: pointer;
      }
    }
    &__icon-popover {
      width: 458px;
      overflow: hidden;
    }
    &__icon-inner {
      width: 478px;
      max-height: 258px;
      overflow-x: hidden;
      overflow-y: auto;
    }
    &__icon-list {
      width: 458px;
      padding: 0;
      margin: -8px 0 0 -8px;
      > .el-button {
        padding: 8px;
        margin: 8px 0 0 8px;
        > span {
          display: inline-block;
          vertical-align: middle;
          width: 18px;
          height: 18px;
          font-size: 18px;
        }
      }
    }
    .icon-list__tips {
      font-size: 18px;
      text-align: center;
      color: #e6a23c;
      cursor: pointer;
    }
  }
</style>
