<template>
  <div class="mod-role">
    <el-form :inline="true" :model="dataForm" @keyup.enter.native="getDataList()">
      <el-form-item>
       <el-autocomplete :fetch-suggestions="titleQuerySearch" v-model="dataForm.title" placeholder="Title" clearable></el-autocomplete>
      </el-form-item>
      <el-form-item>
        <el-input v-model="dataForm.stock" placeholder="Stock" clearable></el-input>
      </el-form-item>
      <el-form-item>
        <el-button @click="getDataList()">Query</el-button>
      </el-form-item>
    </el-form>
    <el-table
      :data="dataList"
      border
      v-loading="dataListLoading"
      style="width: 100%;">
      <el-table-column
        prop="title"
        header-align="center"
        align="center"
        width="250"
        label="Title">
      </el-table-column>
      <el-table-column
        prop="stock"
        header-align="center"
        align="center"
        label="Stock">
      </el-table-column>
      <el-table-column
        prop="place"
        header-align="center"
        align="center"
        label="Place">
      </el-table-column>
      <el-table-column
        prop="condition"
        header-align="center"
        align="center"
        width="120"
        label="Condition">
        <template slot-scope="scope">
          <el-tag v-if="scope.row.condition === 0" size="small" type="info">Out on loan</el-tag>
          <el-tag v-if="scope.row.condition === 1" size="small" type="success">Available</el-tag>
        </template>
      </el-table-column>
      <el-table-column
        prop="borrower"
        header-align="center"
        align="center"
        width="100"
        label="Borrower">
      </el-table-column>
      <el-table-column
        prop="borrowedPeriod"
        header-align="center"
        align="center"
        width="150"
        label="Borrowed period">
      </el-table-column>
      <el-table-column
        prop="createTime"
        header-align="center"
        align="center"
        width="180"
        label="Borrowed time">
      </el-table-column>
      <el-table-column
        fixed="right"
        header-align="center"
        align="center"
        width="150"
        label="Operation">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="reserveHandle(scope.row.id)">Reserve</el-button>
        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      @size-change="sizeChangeHandle"
      @current-change="currentChangeHandle"
      :current-page="pageIndex"
      :page-sizes="[10, 20, 50, 100]"
      :page-size="pageSize"
      :total="totalPage"
      layout="total, sizes, prev, pager, next, jumper">
    </el-pagination>
  </div>
</template>

<script>
  export default {
    data () {
      return {
        dataForm: {
          title: '',
          stock: ''
        },
        dataList: [],
        pageIndex: 1,
        pageSize: 10,
        totalPage: 0,
        dataListLoading: false,
        titleDatas: []
      }
    },
    activated () {
      this.getDataList()
    },
    methods: {
      titleQuerySearch (queryString, cb) {
        cb(this.titleDatas)
      },
      getDataList () {
        let titleSearch = {'value': this.dataForm.title}
        this.titleDatas.push(titleSearch)
        this.dataListLoading = true
        this.$http({
          url: this.$http.adornUrl('/book/borrow/list'),
          method: 'get',
          params: this.$http.adornParams({
            'page': this.pageIndex,
            'limit': this.pageSize,
            'isMyBorrow': 1,
            'title': this.dataForm.title,
            'stock': this.dataForm.stock
          })
        }).then(({data}) => {
          if (data && data.code === 0) {
            this.dataList = data.page.list
            this.totalPage = data.page.totalCount
          } else {
            this.dataList = []
            this.totalPage = 0
          }
          this.dataListLoading = false
        })
      },
      sizeChangeHandle (val) {
        this.pageSize = val
        this.pageIndex = 1
        this.getDataList()
      },
      currentChangeHandle (val) {
        this.pageIndex = val
        this.getDataList()
      },
      reserveHandle (id) {
        this.$confirm(`Are you sure to [id=${id}] on [Reserve] operation?`, 'Tips', {
          confirmButtonText: 'Confirm',
          cancelButtonText: 'Cancel',
          type: 'warning'
        }).then(() => {
          this.$http({
            url: this.$http.adornUrl('/book/book/stockReserve/' + id),
            method: 'post'
          }).then(({data}) => {
            if (data && data.code === 0) {
              this.$message({
                message: 'Submitted successfully',
                type: 'success',
                duration: 1500,
                onClose: () => {
                  this.getDataList()
                }
              })
            } else {
              this.$message.error(data.msg)
            }
          })
        }).catch(() => {
        })
      }
    }
  }
</script>
